################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj/Debug/net6.0
/.vs/Zylon/FileContentIndex/merges
/obj
/.vs/Zylon/FileContentIndex/15d16b7e-0092-43e8-bacc-a306b6d5b849.vsidx
/.vs/Zylon/FileContentIndex/40f47910-701c-484e-be2a-0d6ba3b4e222.vsidx
/.vs/Zylon/FileContentIndex/387fb223-027d-416c-a59f-e63b250ed162.vsidx
/.vs/Zylon/FileContentIndex/405bb887-b87f-433a-81f3-2c6e02067675.vsidx
